// Fonts
// Google Fonts are imported in index.html
// Font variables are defined in _variables.scss
// <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=MonteCarlo&display=swap" rel="stylesheet"