@use "../abstracts/variables" as a;

#counter {
    margin-top: a.$section-gap /2;
}

.counter-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding: 40px 20px;
}

.counter-title {
    font-family: a.$montecarlo;
    font-size: 48px;
    color: a.$light-green;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .counter-number {
        font-family: a.$caveat;
        font-weight: 100;
        display: block;
        color: a.$light-green;
    }

    .counter-highlight {
        font-family: a.$caveat;
        font-size: 43px;
        font-weight: 100;
        letter-spacing: -3px;
        margin-right: 3px;
        color: a.$light-green;
    }
}

.counter-message {
    font-family: a.$montecarlo;
    font-size: 32px;
    color: a.$light-green;
    font-weight: 800;
    margin: 0;
}

// Responsive
@media (max-width: 767px) {
    .counter-con {
        padding: 30px 16px;
        gap: 16px;
    }
}
