// Component for HEADER

@use "../abstracts/variables" as a;

#sticky-nav-con {
  position: relative;
  background-color: white;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid a.$light-olive;
  animation: headerSlide 1s forwards;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: white;
}

.logo-header img {
  width: 50px;
  padding-top: 22px;
  padding-bottom: 15px;
}

.links-header {
  display: flex;
  align-items: center;
}

.links-header ul {
  margin: 0;
  padding: 5px 0 0 0;
  display: flex;
}

.links-header ul li {
  transition: 0.25s ease-in all;
}

.links-header ul li a {
  padding: 20px;
  text-transform: capitalize;
  font-size: 16px;
  font-family: a.$eb-garamond;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  display: block;
  cursor: pointer;
  color: a.$olive-green;
  transition: a.$basic-transition;

  &:hover {
    border-radius: a.$round-border;
    background-color: #e8e8e860;
  }
}

.navbar-header button {
  height: 40px;
  width: 60px;
  background: url(../images/burger-button.svg) no-repeat center;
  transition: all 0.5s ease;
  border: 0;
  position: absolute;
  top: 15px;
  right: 9.5%;
  cursor: pointer;
  display: none;
}

//  Responsive
@media (max-width: 768px) {
  .navbar-header button {
    display: flex;
    margin-top: 12px;
  }

  .navbar-header {
    align-items: flex-start;
    flex-direction: column;
  }

  .links-header {
    width: 100%;
    z-index: 100;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .links-header ul {
    flex-direction: column;
    width: 100%;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .lang-switcher {
    margin-left: 0px;
    margin-top: 15px;
  }

  .links-header ul li {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
  }

  .links-header.active {
    height: 300px;
    display: flex;
  }

  .links-header.active ul {
    opacity: 1;
    transform: translateY(0);
  }

  #burger-button.active {
    transform: rotate(180deg) scale(.6);
    background-image: url(../images/burger-close.svg);
  }

  .current {
    border-bottom: 0px;
  }
}

// Animation
// @keyframes headerSlide {
//     from {
//         transform: translateY(-100px);
//     }
//     to {
//         transform: translateY(0px);
//     }
// }
