// This file imports all components. Include any other component that you might add.

// ORDER MATTERS!

@forward "header";
@forward "hero";
@forward "counter";
@forward "gifts";
@forward "faq";
@forward "footer";